:root {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    --button-color : #C96868;
    --background-pallete: #FFF4EA;
    --blue-pallete: #7EACB5;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
}

h1 {
    color: var(--button-color);
    padding: 0px;
    margin: 0px;
}

.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-pallete);
    gap: 40px;
}

.board {
    min-height: 200px;
    min-width: 200px;
    /* margin: 40px; */
    display: grid;
    background-color: var(--blue-pallete);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.6px;
}

.cell {
    min-height: 50px;
    min-width: 50px;
    border-style: none;
    background-color: var(--background-pallete);
    font-size: 24px;
    color: var(--button-color);
}

.cell:hover {
    cursor: pointer;
    box-shadow: inset 1px 2px 4px rgb(0,0,0 / 0.7);
    /* background-color: black; */
}

.reset-button {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    min-height: 40px;
    border-radius: 6px;
    padding: 12px 14px;
    color: white;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgb(0,0,0 / 0.3) 1px 2px 4px;

    box-sizing: border-box;
    display: inline-block;

    line-height: 16px;
    outline: 0;

    text-align: center;

    text-rendering: geometricPrecision;

    text-transform: none;
    user-select: none;
    -webkit-user-select: none;

    touch-action: manipulation;

    vertical-align: middle;
}

.reset-button:hover {
    background-color: initial;
    color: var(--button-color);
    background-position: 0 0;
}